body {
	height: 100%;
}
html {
	height: 100%;
}
.main_content {
	background-color: #f4f4f4;
}
header {
	background-color: #707070;
	height: 50px;
}
.header-heading {
	color: white;
	font-size: 30px;
	font-weight: lighter;
}
.fa {
	color: white;
}
.border-right {
	border-right: 1px solid white;
}
.border-left {
	border-left: 1px solid white;
}
.navbar {
	background-color: #8d8d8d;
}
footer {
	background-color: #707070;
	height: 50px;
}
.main-content{
    height: 100vh;
}